@import "tailwindcss";

@keyframes swipeLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-12px);
  }
}

@keyframes swipeRight {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(12px);
  }
}

.animate-swipe-left {
  animation: swipeLeft 1.5s infinite;
}

.animate-swipe-right {
  animation: swipeRight 1.5s infinite;
}

